.App {
	display: flex;
	flex-direction: column;
	height: 100vh;
	font-family: Arial, Helvetica, sans-serif;
}

header {
	height: 4em;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	flex: 1;
}

.Body {
	display: flex;
}
