.Card {
	width: 20em;
	height: 15em;
	background-color: white;
	margin: 1em;
	border-radius: 0.5em;
	background-color: rgba(30, 100, 150, 0.5);
	-webkit-box-shadow: 7px 7px 3px 0px rgba(30, 100, 150, 0.5);
	box-shadow: 7px 7px 3px 0px rgba(20, 80, 100, 0.5);
}

.Card h4 {
	margin: 0.5em;
}

.Card p {
	margin: 0.5em;
}

.CarouselImage {
	width: 100%;
	height: 8em;
}
